PORT=5001
ADMIN_KEY=aiml26hicet
ADMIN_PASS_SATHEESH=aiml26hicet
ADMIN_PASS_DEVI=aiml26hicet
ADMIN_PASS_VIGNESH=aiml26hicet
SUPABASE_URL=https://rmeiqhpubvmkvivuasvm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_supabase_secret_key
SUPABASE_ANON_KEY=your_supabase_anon_key
DATABASE_URL=postgresql://postgres:your_password@db.rmeiqhpubvmkvivuasvm.supabase.co:5432/postgres

